@import "./variables/variabls.scss";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
    transition: background-color var(--theme-trans), color var(--theme-trans);
}