
.mainPage {
   padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.mainPage-title {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.mainPage-text {
  line-height: 1.6;
  color: var(--text-color);
}