.app-link {
  color: var(--inverted-text-color);
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid rgb(10 102 194 / 8%);
  transition:
    background-color var(--theme-trans),
    color var(--theme-trans),
    border-color var(--theme-trans),
    box-shadow var(--theme-trans);
  display: block;
  width: 100%;
}

.app-link:hover {
  color: var(--text-color);
  background: var(--bg-color);
}

.app-link:active {
  color: var(--text-color);
  background: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}
