.appLink {
  color: var(--inverted-text-color);
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid var(--inverted-text-color);
  transition: background-color var(--theme-trans), color var(--theme-trans), border-color var(--theme-trans);
  display: block;
  width: 100%;
}

.appLink:hover {
  color: var(--text-color);
  background: var(--bg-color);
}

.appLink:active {
  color: var(--text-color);
  background: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}