// :root {
//   min-height: 100vh;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
//   color: #ffffff;
//   background: #1a1a1a;
// }




