.app.dark-mode {
  --bg-color: #0b1116;
  --inverted-bg-color: #0f1724;
  --primary-color: #0a66c2;
  --secondary-color: #0073b1;
  --text-color: #e6eef8;
  --inverted-text-color: #0b1116;
  --spinner-track: rgb(255 255 255 / 6%);
}

body.dark-mode {
  background: var(--bg-color);
  color: var(--text-color);
}
