.app.dark-mode {
    --bg-color: #090949;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --text-color: #ffffff;
}

body.dark-mode {
    background: var(--bg-color);
    color: var(--text-color);
}