.app.light-mode {
  --bg-color: #f3f6f8;
  --inverted-bg-color: #fff;
  --primary-color: #0a66c2;
  --secondary-color: #0073b1;
  --text-color: #0f1724;
  --inverted-text-color: #fff;
  --spinner-track: rgb(0 0 0 / 6%);
}

body.light-mode {
  background: var(--bg-color);
  color: var(--text-color);
}
