.app.light-mode {
    --bg-color: #f3f4f6;
    --inverted-bg-color: #ffffff;

    --primary-color: #0f1724;
    --secondary-color: #0449e0;

    --text-color: #111827;
    --inverted-text-color: #f3f4f6;
    --spinner-track: rgba(0,0,0,0.08);
}

body.light-mode {
    background: var(--bg-color);
    color: var(--text-color);
}