.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  color: #d32f2f;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  color: #444;
}
