.theme-btn {
  position: relative;
  color: transparent !important;
}

.theme-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  color: var(--inverted-text-color) !important;
}

.light::before {
  content: "☀";
}

.dark::before {
  content: "🌙";
}
